@media screen and (max-width:480px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

h2{text-align: left;
    margin-left: 50px;}

    .col{margin-bottom: 100px;}

    .container{width: 100%;}

    .
}